@page 
@model EditModel
@{
    ViewData["Title"] = "Chỉnh sửa vai trò";
    var statusMessage = TempData["StatusMessage"];
    ViewData["ActivePage"] = AdminNavPages.Role;
}

@section Breadcrumb{
    <li class="breadcrumb-item active" aria-current="page">
        @ViewData["Title"]
    </li>

}
<div class="d-md-flex justify-content-center">
    <div class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header text-primary">
                        @ViewData["title"]
                    </h5>
                    <form method="post">
                        <div class="card-body">
                            @Html.HiddenFor(x => x.Input.Id)
                            <div class="mb-2">
                                <label asp-for="Input.Name"></label>
                                <input asp-for="Input.Name" class="form-control" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                            <hr class="text-primary" />
                            <div class="mb-2">
                                <p>
                                    <a class="link-primary" asp-area="Identity" asp-page="./index" a>Quay về.</a>
                                </p>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </form>
                    
                </div>
            </div>
          
            <div class="col-md-6">
               
                <div class="d-flex flex-row bd-highlight mt-2">
                    <p  class="text-primary p-0">Các claims của roles : &nbsp;</p>
                    <a class=" text-info fst-italic" asp-area="Identity" asp-page="./AddRoleClaim" asp-route-id="@Model.Input.Id">(+Thêm)</a>
                </div>
               
                @if (Model.Clamis.Count > 0)
                {
                    <ul>
                        @foreach (var item in Model.Clamis)
                        {
                        <li class="d-flex flex-row bd-highlight">
                            <a class="fst-italic" asp-area="Identity" asp-route-id="@item.Id" asp-page="./EditRoleClaim">@item.ClaimType = @item.ClaimValue</a>&nbsp;
                            <a class="fst-italic text-danger " asp-area="Identity" asp-route-id="@item.Id" asp-page="./DeleteRoleClaim">( xóa )</a>
                        </li>
                        }


                    </ul>
            }
            else
            {
                <p class="text-danger fst-italic ">Chưa có claim.</p>
            }
          </div>
        </div>
        
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}