@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

@*<div class="container-xxl">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group  mt-2">
                <h5 class="list-group-item my-0 text-secondary"><i class="fa-solid fa-list-check text-primary"></i> Quản lý người dùng</h5>
                <a class="list-group-item @ManagerNavPages.ProFileNavClass(ViewContext) " asp-area="Identity" asp-page="/Account/Manager/ProFile">
                    Hồ sơ
                </a>
                <a class="list-group-item @ManagerNavPages.ChangeEmailNavClass(ViewContext) " asp-area="Identity" asp-page="/Account/Manager/ChangeEmail">
                    Đổi Email
                </a>
                <a class="list-group-item @ManagerNavPages.ConfirmedEmailNavClass(ViewContext) " asp-area="Identity" asp-page="/Account/ConfirmedEmail">
                    Xác nhận email
                </a>
                <a class="list-group-item @ManagerNavPages.OnOff2faNavClass(ViewContext) " asp-area="Identity" asp-page="/Account/Manager/OnOff2fa">
                    Xác thực hai yếu tố
                </a>
                <a class="list-group-item @ManagerNavPages.ChangePasswordNavClass(ViewContext) " asp-area="Identity" asp-page="/Account/Manager/ChangePassword">
                    Đổi mật khẩu
                </a>
            </div>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>*@


@await RenderSectionAsync("Scripts", required: false)