@page
@model IndexModel
@{


    var paging = new Pagin()
            {
                UrlAction = "index",
                CurrentPage = Model.users.CurrentPage,
                TotalPages = Model.users.TotalPages,
                IsPage = true
            };

    var statusMessage = TempData["StatusMessage"] as string;
    ViewData["title"] = "Người dùng";

    ViewData["ActivePage"] = AdminNavPages.User;
}
@section Breadcrumb{

}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.users)
        {
            <tr>

                <th scope="row">@string.Format($"{item.LastName} {item.FirstName}")</th>



                <td>@item.PhoneNumber</td>
                @if (string.IsNullOrEmpty(item.UserRoles))
                {
                    <td><p class="text-danger">Chưa có</p></td>
                }
                else
                {
                    <td> <p class="text-primary">(@item.UserRoles)</td>
                }

                <td>
                    <a asp-area="Identity" asp-page="./detail" asp-route-id="@item.Id">Chi tiết</a>@Html.Raw("&emsp;")
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_PaginPartial", paging)

@section Scripts{
    <scritp>

    </scritp>
    @await Html.PartialAsync("_ValidationScriptsPartial")

}